<!doctype html>
<html>
  <head>
    {% include 'theme-title' %}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ content_for_head }}
  </head>
  <body>
    {{ content_for_layout }}

    {% include 'js-globals' %}
    <script src="{{ 'bundle.js' | asset_url }}"></script>
  </body>
</html>
