<!doctype html>
<html>
  <head>
    {% include 'theme-title' %}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ content_for_head }}
  </head>
  <body>
    {{ content_for_layout }}

    {{ 'bundle.js' | asset_url | script_tag}}
  </body>
</html>
