<div>
  <h1>{{ product.title }}</h1>
  <p>{{ product.description }}</p>
</div>

{% comment %}
Creates a global constant 'product' with the product's JSON object
{% endcomment %}
<script>
Object.defineProperties(window, {
  product: {
    value: {{ product | json }},
    enumerable: true
  }
});
</script>

{% include 'product_richsnippets' %}
